.LoginPage {
  min-height: 100vh;
  text-align: center;
  letter-spacing: .8px;
}

.LoginPage__content {
  padding: 0 10px;
  line-height: 1.75rem;
}

.LoginPage h2 {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 25px;
  text-shadow: var(--black-stroke);
}

.LoginPage h3 {
  margin-top: 30px;
}

.LoginPage__demo_text {
  font-size: 14px;
}

.LoginPage__register_link {
  display: block;
  max-width: 320px;
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  margin: 25px auto 25px auto;
  padding: 10px;
  font-weight: 800;
  border-radius: 20px;
  border: 3px solid var(--main-color);
  text-shadow: var(--black-stroke);
}

.LoginPage__register_link:hover,
.LoginPage__register_link:active {
  background-color: white;
  color: var(--main-color);
  text-shadow: none;
}

.LoginPage__content button {
  display: block;
  width: 45%;
  font-weight: 600;
  padding: 10px 20px;
  margin: 25px auto;
  border: 3px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
  border-radius: 15px;
}

.LoginPage__content button:hover,
.LoginPage__content button:active {
  background-color: var(--main-color);
  color: white;
  text-shadow: var(--black-stroke);
}