.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 47px;
  background-color: var(--main-color);
  letter-spacing: .8px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 12px rgb(0, 0, 0, 0.5);
}

.Header h1 {
  margin: 0;
  padding-left: 10px;
  text-shadow: var(--black-stroke);
}

.Header__link {
  text-decoration: none;
  color: white;
}

.fa-user-circle {
  font-size: 30px;
  color: white;
  padding-right: 10px;
}

.Header__user_controls:hover {
  cursor: pointer;
}

.Header__controls_text {
  position: absolute;
  top: 38%;
  right: 40px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-shadow: var(--black-stroke);
}