.LandingPage {
  min-height: 100vh;
  text-align: center;
  letter-spacing: .8px;
}

.LandingPage h2 {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 25px;
  text-shadow: var(--black-stroke);
}

.LandingPage p {
  margin-bottom: 25px;
}

.LandingPage__text {
  line-height: 1.75rem;
  padding: 0 10px;
}

.LandingPage__link {
  display: block;
  max-width: 320px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 800;
  border: 3px solid var(--main-color);
  padding: 10px;
  margin: 50px auto 0px auto;
  border-radius: 20px;
}

.LandingPage__link:hover,
.LandingPage__link:active {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  text-shadow: var(--black-stroke);
}
