.CreateScorecard {
  min-height: 100vh;
  padding-top: 47px;
  background-color: var(--secondary-color);
  text-align: center;
  letter-spacing: .8px;
}

.CreateScorecard__scorecard_wrapper {
  font-size: 14px;
  background-color: white;
  padding-top: 10px;
}

.CreateScorecard__results {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.CreateScorecard__controls {
  background-color: white;
  margin: 10px 0;
  padding: 5px;
  font-size: 14px;
}

.CreateScorecard__controls_info p {
  padding-bottom: 4px;
}

.CreateScorecard__controls_hole {
  display: inline-block;
  padding-bottom: 4px;

}

.CreateScorecard__controls_faIcon {
  margin: 0 20px;
  color: var(--main-color);
  font-size: 20px;
}

.CreateScorecard__score_faIcon {
  margin: 0 20px;
  color: var(--main-color);
  font-size: 20px;
}

.CreateScorecard__score_strokes {
  font-size: 20px;
}

.CreateScorecard__controls_score button {
  display: block;
  margin: 10px auto;
  background-color: white;
  padding: 5px 10px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  font-weight: 600;
  border-radius: 8px;
}

.CreateScorecard__controls_score button:hover,
.CreateScorecard__controls_score button:active {
  background-color: var(--main-color);
  color: white;
  text-shadow: var(--black-stroke);
}