/* bring in normalize.css styles */
@import-normalize;

:root {
  --main-color: rgb(253, 114, 21);
  --form-text: rgb(100, 100, 100);
  --secondary-color: rgb(238, 237, 237);
  --black-stroke: -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text],
input[type=password],
input[type=email] {
  display: block;
  margin: 10px auto;
  width: 80%;
  max-width: 400px;
  padding: 9px 0;
  color: var(--form-text);
  font-weight: 700;
  text-align: center;
  border: 2px solid var(--form-text);
  border-radius: 5px;
}

label {
  display: block;
  color: var(--form-text);
  font-weight: 700;
}

.red {
  color: red;
  font-size: 12px;
}

.hidden_button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}


